<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page </title>
  <link rel="stylesheet" href="/css/index.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="login-container">
    <div class="login-card">
      <!-- Partie gauche : image -->
      <div class="login-image"></div>

      <!-- Partie droite : formulaire -->
      <div class="wrapper">
        <form action="/login">
          <h1>Login</h1>

          <div class="input-box">
            <input type="text" name="email" placeholder="Email" required>
            <i class='bx bxs-user'></i>
            <div class="email error" style="color: red;"></div>
          </div>

          <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
            <i class='bx bxs-lock-alt'></i>
            <div class="password error" style="color: red;"></div>
          </div>

          <div class="remember-forgot">
            <label>You are</label>
            <select id="role" name="role" required>
              <option value="" selected></option>
              <option value="student">Student</option>
              <option value="teacher">Teacher</option>
            </select>
          </div>

          <button type="submit" class="btn">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>
<script src="/js/index.js"></script>

</html>